@import 'bourbon/bourbon';

@import 'neat/neat';

$border-box-sizing: true !default;

/* breakpoints */

$tablet: new-breakpoint(max-width 800px 2);
$mobile: new-breakpoint(max-width 400px 1);

/* colors

blue
white */
$breaker-bay: #62aca2;
$highlightblue: #4398c9;
$bg-color: $breaker-bay;

/* dimensions */

$input-width: 100%;
$top-margin: 30px;

/* meat n taters */

body {
  background-color: $bg-color;
}

.container {
  @include outer-container;
  @include span-columns(12);
  margin-left: 7%;
  max-width: 100%;
  color: white;
  font-family: Courier, sans-serif;
  vertical-align: middle;

}

.column {

  @include span-columns(4);
  vertical-align: middle;

  @include media($tablet) {
    //@include omega;
    @include span-columns(1);
    margin-right: inherit;
  }

  @include media($mobile) {
    @include omega;
    @include span-columns(1);
  }

  margin-top: 250px;
  margin-bottom: 250px;
}
